body,div,ul,li,img{margin:0;padding:0;border:0;}
ol{list-style:none;}


body{background-image: url(../images/01-whitepaper.png);}
.container{width:1100px;margin:30px auto 20px;}
.mockup{list-style:none;}
.mockup:after{display:block;clear:both;content:'';}
.mockup li{float: left;width:25%;}
.mockup li a{display: block;padding: 8px;}
.mockup li img{width: 100%;}
.site-desc{padding: 12px;font-size: 14px;font-weight: bold;}
.members{display: block;text-align: center;font-size: 12px;}